*.4gl linguist-language=Java
*.42m linguist-language=Java
*.per linguist-language=Java
*.42f linguist-language=Java
*.42s linguist-language=Java
*.4st linguist-language=Java
*.4sm linguist-language=Java
*.4tm linguist-language=Java
*.4tb linguist-language=Java
*.4ad linguist-language=Java
*.sch linguist-language=Java
*.42d linguist-language=Java
*.str linguist-language=Java
*.val linguist-language=Java
*.att linguist-language=Java
*.42r linguist-language=Java
*.42x linguist-language=Java
*.msg linguist-language=Java
*.iem linguist-language=Java