*.4gl linguist-language=BDL
*.42m linguist-language=BDL
*.per linguist-language=BDL
*.42f linguist-language=BDL
*.42s linguist-language=BDL
*.4st linguist-language=BDL
*.4sm linguist-language=BDL
*.4tm linguist-language=BDL
*.4tb linguist-language=BDL
*.4ad linguist-language=BDL
*.sch linguist-language=BDL
*.42d linguist-language=BDL
*.str linguist-language=BDL
*.val linguist-language=BDL
*.att linguist-language=BDL
*.42r linguist-language=BDL
*.42x linguist-language=BDL
*.msg linguist-language=BDL
*.iem linguist-language=BDL